version: "3.8"
services:
  backend:
    build: ./backend
    container_name: docker-demo-backend
    ports:
      - "8080:8080"
  frontend:
    build: ./frontend
    container_name: docker-demo-frontend
    ports:
      - "8088:80"
    depends_on:
      - backend
